<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Admin Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'administration/admin_home/css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">-->
	<style>
		.element-selector {
      height: 400px; /* set the height of the element */
      overflow-y: scroll; /* add a vertical scrollbar when the content overflows the element */
      }
	</style>
</head>
<body>
<script>

{% for m in messages %}
      alert('{{ m }}');
{% endfor %}

</script>

<div class="sidebar">

	<h1 class="logo">A<span>DMIN</span></h1>
	<i class="fa fa-chevron-left menu-icon"></i>
	<ul class="sidenav">
		<li class="active"><i class="fa fa-home"></i>
			<a href="/admin_home/"> Dashboard

		    </a>
		</li>
		<p class="app">Patient Details</p>
		<li><i class="fa fa-file"></i><a href="/patient_stats/">Patient Data</a></li>
		<li><i class="fa fa-user"></i><a href="/d_match/">Donor Match</a></li>
		<li><i class="fa fa-shield"></i><a href="/pa_per/">Patient Permission</a></li>
<!--		<li><i class="fas fa-hospital"></i><a href="#">Patient Permission</a></li>-->



		<p class="app">Donor Details</p>
		<li><i class="fa fa-file"></i><a href="/donor_stats/">Donor Data</a></li>
		<li><i class="fa fa-user"></i><a href="/organ_u/">Organ Users</a></li>
		<li><i class="fa fa-shield"></i><a href="/don_per/">Donor Permission</a></li>
<!--		<li><i class="fa fa-file-text"></i><a href="#">Pages</a></li>-->
<!--		<li><i class="fa fa-lock"></i><a href="#"> Authentications</a></li>-->
		<li><i class="fa fa-sign-out"></i><a href="/admin_logout/">Logout</a></li>

	</ul>

</div>


<div class="main">
	<div class="cong-box">
		<div class="content">
		<p class="head">Congratulations {{overall_last_donor_name}}! 🎉</p><br>
		<p>You have done an inspiring thing.</p>
<!--		<button class="btn">View Badges</button>-->
	</div>
		<img src="{% static 'administration/admin_home/images/user.png' %}">
	</div>

	<div class="com-box">
		<div class="com-inner">
		<i class="fa fa-cubes"></i>
		<p>ORGANS</p>
		<p>1,356</p>
		<p><i class="fa fa-long-arrow-down downar"></i> -14.25%</p>
		</div>
	</div>
	<div class="com-box">
		<div class="com-inner">
		<i class="fa fa-desktop"></i>
		<p>DONORS</p>
		<p>4,356</p>
		<p style="color: green;"><i class="fa fa-long-arrow-up upnar"></i> +28.25%</p>
		</div>
	</div>


	<div class="table-box  element-selector" >
		<table>

  <thead>
    <tr>
      <th scope="col" width="50px">ID</th>
      <th scope="col" width="100px">Donor </th>
      <th scope="col">Organ</th>
      <th scope="col">Disease</th>
      <th scope="col">Consent Status</th>
<!--      <th scope="col" width="70px">Action</th>-->
    </tr>
  </thead>
  <tbody>
 {% for table_, queryset in do.items %}
 {% for i in queryset %}
    <tr>
      <td data-label="Account">{{i.donor_id}}</td>
      <td data-label="Due Date">{{i.donor_name}}</td>
      <td data-label="Period">{{i.organ}}</td>
      <td data-label="Due Date">{{i.disease}}</td>
      <td data-label="Amount" style="position: relative;">
        {% if i.consent %}
          <span class="de"></span>{{i.consent}}
        {% else %}
          <span class="pe"></span>{{i.consent}}
        {% endif %}
      </td>
    </tr>
{% endfor %}
 {% endfor %}

  </tbody>
</table>
	</div>

	<div class="t-sale" style="height:370px;">
		<div class="content-box-1">
			<br>
			<p class="head-1">Total ORGANS </p>
			<div class="circle-wrap">
    		<div class="circle">
      		<div class="mask full">
        	<div class="fill"></div>
      	</div>
				<div class="mask half">
        		<div class="fill"></div>
      			</div>
      	<div class="inside-circle"> 70% </div>
			</div>
  		</div>
		</div>
		<div style="text-align: center;">
			<a href="/organ_u/"><button class="btn">Veiw All</button></a>
		</div>

	</div>
	</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".span1").click(function(){
    $(".dropdown").slideToggle(500);
  });
});

	$('.sidenav li').click(function(){
    $('.sidenav li').removeClass("active");
    $(this).addClass("active");
});
</script>

<script type="text/javascript">
	$(".menu-icon").click(function(e) {
        e.preventDefault();
        $(".menu-icon").toggleClass("menuicon");
        $(".main").toggleClass("main-width");
        $(".sidebar").toggleClass("active1");
        $(".sidenav li a").toggleClass("anchor");
        $(".sidenav li").toggleClass("lislide");
        $(".sidenav p").toggleClass("apphide");
        $(".logo span").toggleClass("headspan");
        $(".logo").toggleClass("lm");

});
</script>
<script>
$(document).ready(function(){
  $(".user").click(function(){
    $(".profile-div").toggle(1000);
  });
  $(".bell").click(function(){
    $(".notification-div").toggle(1000);
  });
});
</script>
</body>
</html>